# Rendu de projet données immobilières

Useful links : [Subject](https://simplonline.co/briefs/327207de-b68d-4563-bc7a-249a7637782d) | [Original dataset (.csv)](https://www.data.gouv.fr/fr/datasets/5c4ae55a634f4117716d5656/) <br>
This project was realized by : Adil, Marianne, Nidal, Théo & Zohra

### Table of content :
- [Dictionnaire de données - Data Dictionary]()
- [Modèle Conceptuel de données (MCD)]()
- [Modèle Physique de données (MPD)]()

## Nombre d'appartements et maisons vendus en 2020

```sql
# Basic query to get count of indivdual homes

SELECT count(transaction.id) FROM transaction LEFT JOIN bien ON transaction.bien_id = bien.id WHERE bien.code_type_local = 1
```

```sql
# Basic query to get count of flats

SELECT count(transaction.id) FROM transaction LEFT JOIN bien ON transaction.bien_id = bien.id WHERE bien.code_type_local = 2
```

```SQL
# Basic query to get total

SELECT count(transaction.id) FROM transaction LEFT JOIN bien ON transaction.bien_id = bien.id WHERE bien.code_type_local = 1 OR bien.code_type_local = 2
```

```sql
# Advanced query to get all those infos

SELECT sum(total_houses + total_flats) as sub_total, total_houses, total_flats FROM (
	SELECT total_flats, total_houses FROM 
	(	
		SELECT sum(case when bien.code_type_local = 1 then 1 else 0 end) as total_houses, 
		sum(case when bien.code_type_local = 2 then 1 else 0 end) as total_flats
		FROM transaction LEFT JOIN bien ON transaction.bien_id = bien.id 
	) x 
) y GROUP BY total_flats, total_houses
```

##  Nombre de biens vendus par trimestre

Pistes de réflexion :
- calculer 4 trimestres en fonction de 2020 ? (nb de jour /4) ou autre ?

##  Proportion des ventes de biens par trimestre

##  Proportion d’appartements vendus par nombre de pièces

## Les 10 départements où il y a eu le plus de ventes immobilières

- aggrégat par dept
- puis classement et selection des dix premiers

##  Les 10 départements où il y en a eu le moins

##  Prix moyen du mètre carré en IDF

- Sélection de tout les biens en IDF (75, 92, 93, 94)
- moyenne

##  Liste des 10 appartements les plus chers avec le département et le nombre de mètres carrés

```sql
SELECT max(valeur_fonciere) FROM transaction LEFT JOIN bien on transaction.bien_id = bien.id LIMIT 10
```

## Taux d’évolution du nombre de ventes entre le premier et le second trimestre de 2020

##  Liste des communes où le nombre de ventes a augmenté d'au moins 20% entre le premier et le second trimestre de 2020